@import "tailwindcss";

/* TrendingProducts.css */
.trending-products {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.trending-products h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #c0f2d8;
  color: #1e824c;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 5px;
}

.image-placeholder {
  border: 1px solid #ccc;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 14px;
  margin: 5px 0;
  color: #000000;
}


.price {
  font-weight: bold;
  margin: 5px 0;
  color:#000000;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



